<mat-card class="m-2 d-flex justify-content-between align-items-center">
  <h2 class="mb-0">Edit user</h2>


 <button mat-raised-button color="primary" (click)="back()">back</button>
</mat-card>

<mat-card class="m-2">

  <div class="submit-form container">


    <form (ngSubmit)="update()" [formGroup]="userForm">

      <div class="row">

      <div class="form-group col">
      <label>User name:
        <input type="text" class="form-control" formControlName="user_name" [ngStyle]="{'border-color':!checkControl(userForm.controls['user_name'])?'red':'black'}"/>
        <label *ngIf="!checkControl(userForm.controls['user_name'])">user name required</label>
      </label>
      </div>

    <div class="form-group col">
      <label>Email:
        <input type="email" class="form-control" formControlName="email" [ngStyle]="{'border-color':!checkControl(userForm.controls['email'])?'red':'black'}"/>
        <label *ngIf="!checkControl(userForm.controls['email'])">email required</label>
      </label>
    </div>

    </div>

    <div class="row">

      <div class="form-group col">
        <label>Name:
          <input type="text" class="form-control" formControlName="name" [ngStyle]="{'border-color':!checkControl(userForm.controls['name'])?'red':'black'}"/>
          <label *ngIf="!checkControl(userForm.controls['name'])">name required</label>
        </label>
      </div>

        <div class="form-group col">
          <label>Last name:
            <input type="text" class="form-control" formControlName="last_Name" [ngStyle]="{'border-color':!checkControl(userForm.controls['last_Name'])?'red':'black'}"/>
            <label *ngIf="!checkControl(userForm.controls['last_Name'])">last name required</label>
          </label>
        </div>

        </div>

      <div class="row">

          <div class="form-group col">
            <label>Age:
              <input type="number" class="form-control" formControlName="age" [ngStyle]="{'border-color':!checkControl(userForm.controls['age'])?'red':'black'}"/>
              <label *ngIf="!checkControl(userForm.controls['age'])">correct age required</label>
            </label>
          </div>

            <div class="form-group col">
              <label>Password:
                <input type="password" class="form-control" formControlName="password" [ngStyle]="{'border-color':!checkControl(userForm.controls['password'])?'red':'black'}"/>
                <label *ngIf="!checkControl(userForm.controls['password'])">password required</label>
              </label>
            </div>

          </div>

              <div class="form-check">
                  <input type="checkbox" class="form-check-input" formControlName="is_active"/>
                  <label class="form-check-label" >Check to set active </label>
              </div>

    <div class="d-flex justify-content-sm-center"><button  mat-raised-button color="primary" type="submit" [disabled]="!validateForm(userForm)">Update</button></div>
  </form>

  </div>
</mat-card>
